* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Happy Monkey', sans-serif;
}

.container{
    width: 800px;
    left: 50px;
    right: 50px;

}

.hero {
        color: #f4f4f4 ;
        text-align: center;  
        box-shadow: 10px 10px 10px ;
        left: 50px;
        right: 50px;
    }

p{
    color:#707070;
}


li{
    color: #707070;
top: 5px;
bottom: 5px;}
   
header
{  text-align: center;

   }


   h1{color: #DB0038;}
   
   h2{color: #3998A3 ;}

    h3{
        color: #474747;
    }

    .hero {
        background-color: #f4f4f4;
        /* box-shadow: ; */
      
    }

    img {
        width: 100%;
    }

footer{
    text-align: center;}






